@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --mukta: 'Mukta', sans-serif;
    --monument: 'monument', sans-serif;
    --white: #fff;
    --black: #000;
    list-style: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'monument';
    src: url('../fonts/monumentextended-ultrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.container,
header,
section,
footer,
.social,
.social li,
.tittle-banner,
.box-tittle-banner,
.gallery,
.calculator,
.calculator-insert,
.calculator-result,
.calculator-row,
.calculator-range,
.range-number,
.color-number,
.salutation::after,
.salutation::before,
.train h2,
.box-price,
.program-training,
.range-description,
.location-list,
.address-item,
.location-list,
.box-logo-footer,
.dev,
.bt-dev,
.dev-line,
.coaches,
.grid-coaches,
.box-coache,
.gallery> .swiper .swiper-pagination,
.coache-informations,
.social-dev li a,
.dev-information{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
header {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    max-width: 100%;
    min-height: 100vh;
    background-color: #000;
    flex-direction: column;
    position: relative;
}
section {
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
    padding: 30px 0;
}
.box-logo-footer{
    max-width: 350px;
}
.box-logo-footer> .social{
    width: 200px;
    padding: 15px;
    font-size: 2rem;
    justify-content: space-evenly;
}
.box-logo-footer> .social::before{
    content: '';
    position: absolute;
    background-color: rgba(99, 99, 99, 0.8);
    left: 10px;
    width: 330px;
    border-radius: 30px;
    height: 70%;
    font-size: 2rem;
}
.social li{
    padding: 5px;
    z-index: 10;
    border-radius: 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.social li:hover,
.page-menu li:hover {
    color: var(--black);
    background-color: #fff;

}
.social li:hover,
.page-menu li:hover a {
    color: var(--black);
}
/*          Banner          */
.banner {
    width: 100%;
    min-height: 90vh;
    position: relative;
}
.box-tittle-banner {

    background: rgb(41, 41, 41);
    background: linear-gradient(180deg, rgba(41, 41, 41, 0.322) 50%, rgba(1, 1, 1, 1) 100%);
    position: absolute;
    z-index: 2;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 40px;
    top: 50%;
    left: 50%;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.658);
}
.box-tittle-banner h1,
.box-tittle-banner h2 {
    font-family: var(--monument);
    font-size: 3.5em;
    text-transform: uppercase;
}

.box-tittle-banner h1 {
    color: var(--white);
}

.box-tittle-banner p {
    color: rgb(236, 236, 236);
}
.bt-training {
    width: 100%;
    max-width: 200px;
    padding: 20px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    margin: 20px 0;
    font-weight: bold;
}
.tittle-banner {
    flex-direction: column;
}
.salutation {
    max-width: 1000px;
    padding: 30px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--mukta);
    position: relative;
}
.salutation::after {
    content: '❝';
    position: absolute;
    width: 50px;
    height: 20px;
    color: var(--white);
    top: 20px;
    left: 0;
    font-size: 5rem;
    font-family: 'Secular One', sans-serif;

}
.salutation::before {
    content: '❞';
    position: absolute;
    width: 50px;
    height: 20px;
    color: var(--white);
    bottom: -20px;
    right: 0px;
    font-size: 5rem;
    font-family: 'Secular One', sans-serif;
}

/*          Training                */
.training {
    flex-direction: row;
    min-height: 10vh;
}
.train {
    flex: 1 1 400px;
    position: relative;
    overflow: hidden;
}

.train img {
    width: 100%;
}

.train h2 {
    color: var(--white);
    width: 100%;
    height: 100%;
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.train h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    transition: .5s ease-in-out;
}

.train h2:hover {
    scale: 1.1;
    transition-delay: .25s;
}

.train h2:hover::before {
    transform: translateY(-100%);
}

/*              about           */
.about {
    padding: 50px 10px;
}

.box-section {
    max-width: 1000px;
    text-align: center;

}

.tittle-section {
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
}

.paragraph-section {
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
}

.movie {
    margin: 50px 0;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
}

.movie video {
    max-width: 100%;
}

/*          gallery          */
.gallery {
    width: 100%;
    min-height: 90vh;
    overflow-y: hidden;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
    position: relative;
}

/*          choose           */
.choose {
    color: var(--white);
}

/*      Price*/
.program-price {
    background: url(../images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    justify-content: space-evenly;
}

.program-price::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.568);
    top: 0;
    left: 0;
}

.box-price {
    width: 100%;
    margin-top: 50px;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

.program-training {
    width: 100%;
    max-width: 300px;
    height: 530px;
    flex-direction: column;
    padding: 10px;
    position: relative;
    background-color: rgba(56, 56, 56, 0.404);
    border: 2px solid var(--white);
    margin: 10px 0 10px 15px;
    z-index: 0;
}

.program-training:hover {
    background-color: rgba(0, 0, 0, 0.747);
    transition: .5s ease-in-out;
}

.program-training ul li {
    list-style: none;
    color: var(--white);
    padding: 10px 0 0 30px;
    font-size: 1.2rem;
}

.training-remove {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
}

.text-shadow {
    position: absolute;
    width: 550px;
    left: -275px;
    bottom: 275px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    transform: rotateY(180deg) rotateX(180deg) rotateZ(90deg);
    font-size: 3rem;
    font-family: var(--monument);
}

.img-program-training {
    font-size: 60px;
}

.training-price {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

.training-month {
    color: rgb(184, 184, 184);
    font-size: 2.8;
}

/*              Coaches             */
.coaches {
    min-height: 80vh;
}
.grid-coaches{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-coache{
    border-radius: 10px 10px 5px 5px;
    margin: 20px 0;
    width: 100%;
    max-width: 300px;
    height: 450px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    transition: .3s background ease-in-out;
}
.img-coache{
    height: 400px;
    width: 100%;
}
.img-coache img{
    height: 100%;
}
.coache-informations{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    bottom:40px;
    transform: translate(0,100%);
    position: absolute;
    transition-delay: .5s;
    transition: .6s ease-in-out;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}
.box-coache:hover{
    background: rgba(255, 0, 0, 0.555);
}
.box-coache:hover .coache-informations{
    transform: translate(0,40px);
    background-color: rgba(0, 0, 0, 0.7);
}
.box-coache:hover .coache-informations .name-coache{
    background-color: rgba(51, 51, 51, 0);
    color: var(--white);
}
.name-coache{
    width: 100%;
    height: 40px;
    padding: 5px;
    color: var(--black);
    font-family: var(--monument);
}.coache-description{
    padding: 5px;
    font-weight: bold;
    color: var(--white);
}
.coache-informations> .social{
    width: 100%;
    background-color: #fff;
    padding: 5px;
    font-size: 1.4rem;
    justify-content: space-evenly;
}
/*              bmi             */
.bmi {
    min-height: 100vh;
    padding: 20px 10px 0 10px;
    flex-direction: column;
}

.calculator {
    color: var(--white);
    width: 100%;
    flex-direction: row;
    min-height: 70vh;
    max-width: 1500px;
}

.calculator-insert,
.calculator-result {
    width: 100%;
    flex-direction: column;
}

.calculator-row {
    flex-direction: column;
    width: 100%;
}

.calculator-range {
    margin: 10px;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
}

.range {
    width: 90%;
    height: 20px;
    -webkit-appearance: none;
    background-color: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;

}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px rgb(78, 78, 78);
    background-color: var(--white);
}

.calculator-result {
    width: 100%;
    font-weight: bold;
    transition: .5s;
}

.number-view {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgb(116, 116, 116);
}

.color-number {
    background-color: rgb(41, 41, 41);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: 1s;
}

.number-description {
    color: rgb(150, 150, 150);
}

.range-number {
    flex-direction: column;
    margin-bottom: -20px;
}

.range-description {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.value-start,
.value-end {
    width: 60px;
    text-align: center;
    position: relative;
}

.value-end::before {
    background-color: var(--white);
    content: '';
    position: absolute;
    right: 30%;
    top: 100%;
    border-radius: 10px;
    width: 2px;
    height: 10px;
}

.value-start::before {
    background-color: var(--white);
    content: '';
    position: absolute;
    left: 30%;
    top: 100%;
    border-radius: 10px;
    width: 2px;
    height: 10px;
}

.class-result {
    font-size: 2rem
}

.support-result {
    font-size: 1.8rem;
}

.text-result {
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
}

/*           Footer             */
footer {
    width: 100%;
    min-height: 80vh;
    background: url(../images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white);
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.location-list {
    width: 100%;
    min-height: 50vh;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.location-item {
    margin: 10px;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(3px);
    border: 1px solid var(--white);
    padding: 10px;
    opacity: .7;
    transition: .5s ease-in-out;
}

.location-item:hover {
    opacity: 1;
}

.unit-name {
    font-size: 1.3rem;
}

.img-address {
    width: 100%;
    height: 200px;
}

.address-item {
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    font-weight: bold;
}
.box-logo-footer{
    position: relative;
}
.box-logo-footer .logo{
    position: relative;
    width: 100px;
    z-index: 1;
}
.box-logo-footer .logo::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    z-index: -1;
}
footer> .tittle-section{
    margin: 30px 0;
}
.dev {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 7vh;
    background-color: rgba(58, 58, 58, 0.658);
    transition: 1s ease-in-out;
    overflow: hidden;
}
.active{
    height: 50vh;
    transition: 1s ease-in-out;
}
.dev-line> .social{
    font-size: 2rem;
}
.dev-line{
    width: 100%;
    justify-content: center;
    gap: 30px;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.349);
}
.dev-name{
    font-size: 1rem;
}
.dev-information{
    justify-content: space-around;
    margin-top: 20px;
    padding: 30px 10px;
    max-width: 1000px;
    flex-wrap: wrap;
    width: 100%;

}
.dev-information img{
    max-width: 200px;
}
.dev-information> .dev-line{
    max-width: 700px;
    min-height: 200px;
    justify-content: space-between;
    flex-direction: column;
}
.dev-information> .dev-line p{
    padding: 20px;
}

.bt-dev{
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.social-dev{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.social-dev li{
    margin: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
}
.social-dev li a{
    background-color: rgba(12, 12, 78, 0.459);
    text-decoration: none;
    padding: 10px;
    color: #fff;
    gap: 10px;
    border-radius: 15px;
}
.social-dev li a ion-icon{
    
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
/*      testimonial         */
@media (max-width:1000px) {
    .training {
        flex-wrap: wrap;
    }

    .train h2 {

        font-size: 2.3rem;
    }

    .img-gallery {

        max-width: 300px;
    }

    .calculator {
        flex-wrap: wrap;
    }

    .menu {
        justify-content: flex-end;
        padding-right: 20px;
    }
    .active{
        height: 80vh;
        transition: 1s ease-in-out;
    }
}

@media (max-width:600px) {

    .box-tittle-banner h1,
    .box-tittle-banner h2 {
        font-size: 1.5em;
    }

    .salutation {
        font-size: 1.2rem;
    }
    .active{
        height: 100vh;
        transition: 1s ease-in-out;
    }
    
}