@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --mukta: 'Mukta', sans-serif;
    --monument: 'monument', sans-serif;
    --white: #fff;
    --black: #000;
    list-style: none;
}

@font-face {
    font-family: 'monument';
    src: url('../fonts/monumentextended-ultrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 10px;
    border: 2px solid;
}


.container,
header,
main,
section,
footer,
.social,
.social li,
.tittle-banner,
.box-tittle-banner,
.gallery,
.calculator,
.calculator-insert,
.calculator-result,
.calculator-row,
.calculator-range,
.range-number,
.color-number,
.salutation::after,
.salutation::before,
.train h2,
.box-price,
.program-training,
.range-description,
.location-list,
.address-item,
.location-list,
.box-logo-footer,
.coaches,
.grid-coaches,
.box-coach,
.gallery>.swiper .swiper-pagination,
.coach-informations,
.bt-top {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.container,
header,
main {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background-color: var(--black);
    position: relative;
}

section {
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
    padding: 30px 0;
}

.social li {
    padding: 5px;
    z-index: 10;
    border-radius: 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.social li:hover {
    color: var(--black);
    background-color: #fff;

}

.social li:hover {
    color: var(--black);
}

/*          Banner          */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
}

.bt-top {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    transition: 1s ease-in-out;
    cursor: pointer;
    opacity: .8;
}

.bt-top:hover ion-icon {
    animation: top .5s infinite alternate ease-in-out;
}

@keyframes top {
    from {
        transform: translate(0, 20%);
    }

    to {
        transform: translate(0, -20%);
    }

}

.hide {
    opacity: 0;
    transform: translate(200%, -50%);
}

.box-tittle-banner {

    background: rgb(41, 41, 41);
    background: linear-gradient(180deg, rgba(41, 41, 41, 0.322) 50%, rgba(1, 1, 1, 1) 100%);
    position: absolute;
    z-index: 2;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 40px;
    top: 50%;
    left: 50%;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.658);
}

.box-tittle-banner h1,
.box-tittle-banner h2 {
    font-family: var(--monument);
    font-size: 3.5em;
    text-transform: uppercase;
}

.box-tittle-banner h1 {
    color: var(--white);
}

.box-tittle-banner p {
    color: rgb(236, 236, 236);
}

.bt-training {
    width: 100%;
    max-width: 200px;
    padding: 20px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    margin: 20px 0;
    font-weight: bold;
}

.tittle-banner {
    flex-direction: column;
}

.salutation {
    max-width: 1000px;
    padding: 30px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--mukta);
    position: relative;
}

.salutation::after {
    color: var(--white);
    top: 20px;
    left: 5px;
}

.salutation::before {
    bottom: -20px;
    right: 5px;

}

.salutation::before,
.salutation::after {
    content: 'âž';
    position: absolute;
    width: 50px;
    height: 20px;
    color: var(--white);
    font-size: 5rem;
    font-family: 'Secular One', sans-serif;
}

/*          Training                */
.training {
    flex-direction: row;
    min-height: 10vh;
}

.train {
    flex: 1 1 400px;
    position: relative;
    overflow: hidden;
}

.train img {
    width: 100%;
    object-fit: cover;
}

.train h2 {
    color: var(--white);
    width: 100%;
    height: 100%;
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.train h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    transition: .5s ease-in-out;
}

.train h2:hover {
    scale: 1.1;
    transition-delay: .25s;
}

.train h2:hover::before {
    transform: translateY(-100%);
}

/*              about           */
.about {
    padding: 50px 10px;
}

.box-section {
    max-width: 1000px;
    text-align: center;

}

.tittle-section {
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
}

.paragraph-section {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
}

.movie {
    margin: 30px 0;
    width: 100%;
    max-width: 1300px;
    min-height: 100px;
}

.movie video {
    max-width: 100%;
}

/*          gallery          */
.gallery {
    width: 100%;
    min-height: 80vh;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

/*          choose           */
.choose {
    color: var(--white);
    padding: 10px 15px;
}

/*      Price*/
.program-price {
    background: url(../images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    justify-content: space-evenly;
}

.program-price::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.568);
    top: 0;
    left: 0;
}

.box-price {
    width: 100%;
    margin-top: 50px;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

.program-training {
    width: 100%;
    max-width: 300px;
    height: 530px;
    flex-direction: column;
    padding: 10px;
    position: relative;
    background-color: rgba(56, 56, 56, 0.404);
    border: 2px solid var(--white);
    margin: 10px 0 10px 15px;
    z-index: 0;
}

.program-training:hover {
    background-color: rgba(0, 0, 0, 0.747);
    transition: .5s ease-in-out;
}

.program-training ul li {
    list-style: none;
    color: var(--white);
    padding: 10px 0 0 30px;
    font-size: 1.2rem;
}

.training-remove {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
}

.text-shadow {
    position: absolute;
    width: 550px;
    left: -275px;
    bottom: 275px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    transform: rotateY(180deg) rotateX(180deg) rotateZ(90deg);
    font-size: 3rem;
    font-family: var(--monument);
}

.img-program-training {
    font-size: 60px;
}

.training-price {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

.training-month {
    color: rgb(184, 184, 184);
    font-size: 2.8;
}

/*              Coaches             */
.coaches {
    min-height: 80vh;
}

.grid-coaches {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-coach {
    border-radius: 10px 10px 5px 5px;
    margin: 20px 0;
    width: 100%;
    max-width: 300px;
    height: 450px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    transition: .3s background ease-in-out;
}

.img-coach {
    height: 400px;
    width: 100%;
}

.img-coach img {
    height: 100%;
}

.coach-informations {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    bottom: 40px;
    transform: translate(0, 100%);
    position: absolute;
    transition-delay: .5s;
    transition: .6s ease-in-out;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.box-coach:hover {
    background: rgba(255, 0, 0, 0.555);
}

.box-coach:hover .coach-informations {
    transform: translate(0, 40px);
    background-color: rgba(0, 0, 0, 0.7);
}

.box-coach:hover .coach-informations .name-coach {
    background-color: rgba(51, 51, 51, 0);
    color: var(--white);
}

.name-coach {
    width: 100%;
    height: 40px;
    padding: 5px;
    color: var(--black);
    font-family: var(--monument);
}

.coach-description {
    padding: 5px;
    font-weight: bold;
    color: var(--white);
}

.coach-informations>.social {
    width: 100%;
    background-color: #fff;
    padding: 5px;
    font-size: 1.4rem;
    justify-content: space-evenly;
}

/*              bmi             */
.bmi {
    min-height: 100vh;
    padding: 20px 10px 30px 10px;
    flex-direction: column;

}

.calculator {
    color: var(--white);
    width: 100%;
    flex-direction: row;
    min-height: 70vh;
    max-width: 1500px;
}

.calculator-insert,
.calculator-result {
    width: 100%;
    flex-direction: column;
}

.calculator-row {
    flex-direction: column;
    width: 100%;
}

.calculator-range {
    margin: 10px;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
}

.range {
    width: 90%;
    height: 20px;
    -webkit-appearance: none;
    background-color: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;

}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px rgb(78, 78, 78);
    background-color: var(--white);
}

.calculator-result {
    width: 100%;
    font-weight: bold;
    transition: .5s;
}

.number-view {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgb(116, 116, 116);
}

.color-number {
    background-color: rgb(41, 41, 41);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: 1s;
}

.number-description {
    color: rgb(150, 150, 150);
}

.range-number {
    flex-direction: column;
    margin-bottom: -20px;
}

.range-description {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.value-start,
.value-end {
    width: 60px;
    text-align: center;
    position: relative;
}

.value-end::before {
    background-color: var(--white);
    content: '';
    position: absolute;
    right: 30%;
    top: 100%;
    border-radius: 10px;
    width: 2px;
    height: 10px;
}

.value-start::before {
    background-color: var(--white);
    content: '';
    position: absolute;
    left: 30%;
    top: 100%;
    border-radius: 10px;
    width: 2px;
    height: 10px;
}

.class-result {
    font-size: 2rem
}

.support-result {
    font-size: 1.8rem;
}

.text-result {
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
}

/*           Footer             */
footer {
    width: 100%;
    min-height: 95vh;
    background: url(../images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white);
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.location-list {
    width: 100%;
    min-height: 50vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.location-item {
    margin: 10px;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(3px);
    border: 1px solid var(--white);
    padding: 10px;
    opacity: .7;
    transition: .5s ease-in-out;
}

.location-item:hover {
    opacity: 1;
}

.unit-name {
    font-size: 1.3rem;
}

.img-address {
    width: 100%;
    height: 200px;
}

.address-item {
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    font-weight: bold;
}

.box-logo-footer {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: rgb(59, 59, 59);
    border-radius: 50%;
    padding: 15px;
    transition: .5s ease-in-out;
}
.box-logo-footer .logo{
    width: 100%;
    border-radius: 50%;
    box-shadow:  0 0 10px rgb(0, 0, 0);
    filter: contrast(120%);
    transition: .5s ease-in-out;
}
.box-logo-footer:hover {
    background-color: rgb(214, 214, 214);
    box-shadow: 0 0 10px #fff;
}
.box-logo-footer:hover .logo{
    filter: brightness(120%);
}



footer>.tittle-section {
    margin: 30px 0;
}

/*      Area Dev        */

.dev,
.bt-dev,
.dev-line,
.social-dev li a,
.dev-information,
.dev-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev {
    flex-direction: column;
    width: 100%;
    height: 0;
    background-color: rgba(0, 43, 134, 0.658);
    justify-content: flex-start;
    transition: 1s ease-in-out;
    overflow: hidden;
    position: relative;
    display: none;
}

.dev.active {
    animation: height .8s forwards ease-in-out;
    display: flex;
    transition: 1s ease-in-out;
}
@keyframes height {
    from{
        height: 0;
    }
    to{
        height: 30vh;
    }
}

.dev-line {
    width: 100%;
    gap: 30px;
    padding: 5px 0;
    background-color: rgb(0, 31, 116);
}

.dev-line span {
    text-align: center;
}

.bt-dev {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    animation: pulse .5s infinite alternate;
    overflow: hidden;
}

.bt-dev ion-icon {
    animation: move-arow .8s infinite alternate;
    color: rgb(0, 42, 105);

}

.dev-name {
    font-size: 1rem;
}

.dev-information {
    max-width: 600px;
    justify-content: space-around;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    width: 100%;
    border-radius: 10px;
}

.dev-img {
    max-width: 130px;
    background-color: rgba(107, 107, 107, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7),
        inset 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.dev-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(104, 104, 104, 0.7);
    transition: .6s ease-in-out;
}

.dev-info {
    margin: 10px;
    flex: 1 1 600px;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
    background-color: rgba(107, 107, 107, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 130px;
}

/* .dev-info h2 {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    color: #fff;
} */

.social-dev {
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(107, 107, 107, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.social-dev li {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}


.social-dev li a {
    background-color: rgba(107, 107, 107, 0.568);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7),
        inset 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 2px 20px 2px 2px;
    width: 100%;
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
    font-size: .9rem;
}

.social-dev a:hover {
    background-color: rgb(31, 31, 31);
    color: #fff;
}

.social-dev li a ion-icon {
    padding: 2px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    /* background-color: rgb(10, 10, 10); */
}

@keyframes move-arow {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translatey(6px);
    }

}

@keyframes pulse {

    from {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }

    to {
        background-color: gray;
        box-shadow: 0 0 5px rgba(15, 15, 15, 0.7);

    }

}

@media (max-width:1500px) {
    .location-list {
        max-width: 1000px;
    }
}

@media (max-width:1220px) {
    .grid-coaches {
        max-width: 800px;
    }
}

@media (max-width:1000px) {
    .training {
        flex-wrap: wrap;
    }

    .navList.activeMenu .social-dev li {
        flex: 1 1 300px;
    }

    .train h2 {

        font-size: 2.3rem;
    }

    .img-gallery {

        max-width: 300px;
    }

    .calculator {
        flex-wrap: wrap;
    }

    .menu {
        justify-content: flex-end;
        padding-right: 20px;
    }
}

@media (max-width:600px) {

    .box-tittle-banner h1,
    .box-tittle-banner h2 {
        font-size: 1.5em;
    }

    .salutation {
        font-size: 1.2rem;
    }
}

@media (max-height:400px) {

    .box-tittle-banner h1,
    .box-tittle-banner h2 {
        font-size: 1.4em;
    }

    .train {
        max-width: 50%;
    }

    .program-training {
        width: 100%;
        max-width: 200px;
        height: 530px;
    }
    .dev-information {
        flex-wrap: initial;
    }
}